defaults
  mode tcp
  timeout connect 5s
  timeout client  30s
  timeout server  30s

frontend redis
  bind *:6379
  default_backend redis-backend

backend redis-backend
  balance roundrobin
  server redis1 172.30.0.10:6000 check
  server redis2 172.30.0.11:6001 check
  server redis3 172.30.0.12:6002 check
  server redis4 172.30.0.13:6003 check
  server redis5 172.30.0.14:6004 check
  server redis6 172.30.0.15:6005 check
  
