[req]
distinguished_name = dn
req_extensions = req_ext
prompt = no

[dn]
CN=localhost

[req_ext]
subjectAltName = @alt_names
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = localhost
IP.1  = 127.0.0.1
IP.2  = ::1